.curso {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: 700;
}

.curso__info {
    font-weight: 400;
}

.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--claro);
}

.curso:last-of-type {
    border: none;
}

@media (max-width: 900px) {
    .curso {
        display: block;
    }

    .curso__imagen {
        width: 70%;
        margin: 0 auto;
    }
}